header{
  height: 100px;
  border:1px dashed red;
  background-color: purple;
}
main{
  min-height: 600px;
}
footer{
  height:90px;
  background-color: skyblue;
}

.a_tbdr{
  border:1px dashed #000;
}